/* Splendid.css
** By: Daniel Dafoe
---------------------------------------- */
/* Variables
---------------------------------------- */
/* Functions
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Buttons
---------------------------------------- */
button {
  border: 0;
  cursor: pointer;
  font-weight: 200; }

.spl-btn {
  position: relative;
  display: inline-block;
  border-radius: 0;
  padding: .5em 3em;
  margin: .25em 0;
  font-size: 1em;
  text-decoration: none;
  color: #fff; }

.spl-btn-red {
  background-color: #FB2424; }

.spl-btn-turquoise {
  background-color: #386E6E; }

.spl-btn-royal {
  background-color: #8040A5; }

.spl-btn-orange {
  background-color: #E09129; }

.spl-btn-sun {
  background-color: #FFED09; }

.spl-btn-grass {
  background-color: #6BA811; }

.spl-btn-darkblue {
  background-color: #2D3BA8; }

.spl-btn-rose {
  background-color: #9B33A8; }

.spl-btn-default {
  background-color: #888; }

.splendid {
  background-color: #582c71; }

/* Effects
---------------------------------------- */
/* Fill Horizontal */
.spl-fill-horz, .spl-fill-vert, .spl-fill-short {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.spl-fill-horz:before, .spl-fill-vert:before, .spl-fill-short:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ad1818;
  border-radius: 0;
  border: 1px solid #FB2424;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-fill-horz:hover, .spl-fill-vert:hover, .spl-fill-short:hover, .spl-fill-horz:focus, .spl-fill-vert:focus, .spl-fill-short:focus, .spl-fill-horz:active, .spl-fill-vert:active, .spl-fill-short:active {
  border-radius: 0; }

.spl-fill-horz:hover:before, .spl-fill-vert:hover:before, .spl-fill-short:hover:before, .spl-fill-horz:focus:before, .spl-fill-vert:focus:before, .spl-fill-short:focus:before, .spl-fill-horz:active:before, .spl-fill-vert:active:before, .spl-fill-short:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Fill Vertical */
.spl-fill-vert:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ad1818;
  border-radius: 0;
  border: 1px solid #FB2424;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-fill-vert:hover, .spl-fill-vert:focus, .spl-fill-vert:active {
  border-radius: 0; }

.spl-fill-vert:hover:before, .spl-fill-vert:focus:before, .spl-fill-vert:active:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1); }

/* Fill Vertical Short */
.spl-fill-short:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ad1818;
  border-radius: 0;
  border: 1px solid #FB2424;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-fill-short:hover, .spl-fill-short:focus, .spl-fill-short:active {
  border-radius: 0; }

.spl-fill-short:hover:before, .spl-fill-short:focus:before, .spl-fill-short:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(0.94);
  transform: scaleX(0.94); }

/* Reverse Fill Horz */
.spl-fill-rev {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.spl-fill-rev:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b91a1a;
  border-radius: 0;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-fill-rev:hover, .spl-fill-rev:focus, .spl-fill-rev:active {
  border-radius: 0; }

.spl-fill-rev:hover:before, .spl-fill-rev:focus:before, .spl-fill-rev:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0); }

/* Underline Bottom Left */
.spl-lines-bl {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-bl:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 0;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-bl:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 2%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-bl:hover:before, .spl-lines-bl:focus:before, .spl-lines-bl:active:before {
  width: 100%;
  right: 0; }

.spl-lines-bl:hover:after, .spl-lines-bl:focus:after, .spl-lines-bl:active:after {
  top: 0;
  height: 100%; }

/* Underline Bottom Right */
.spl-lines-br {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-br:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 0;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-br:after {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 2%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-br:hover:before, .spl-lines-br:focus:before, .spl-lines-br:active:before {
  width: 100%;
  right: 0; }

.spl-lines-br:hover:after, .spl-lines-br:focus:after, .spl-lines-br:active:after {
  top: 0;
  height: 100%; }

/* Underline From Top Right */
.spl-lines-tr {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-tr:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 0;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-tr:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 2%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-tr:hover:before, .spl-lines-tr:focus:before, .spl-lines-tr:active:before {
  width: 100%;
  left: 0; }

.spl-lines-tr:hover:after, .spl-lines-tr:focus:after, .spl-lines-tr:active:after {
  bottom: 0;
  height: 100%; }

/* Underline From Top Left */
.spl-lines-tl {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-tl:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 10%;
  width: 0;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-tl:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 2%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-tl:hover:before, .spl-lines-tl:focus:before, .spl-lines-tl:active:before {
  width: 100%;
  left: 0; }

.spl-lines-tl:hover:after, .spl-lines-tl:focus:after, .spl-lines-tl:active:after {
  bottom: 0;
  height: 100%; }

/* Left Right Screen */
.spl-left-right-screen {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-left-right-screen:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #55860d;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-left-right-screen:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #47700b;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: #fff; }

.spl-left-right-screen:hover:before, .spl-left-right-screen:focus:before, .spl-left-right-screen:active:before {
  right: 0;
  width: 100%; }

.spl-left-right-screen:hover:after, .spl-left-right-screen:focus:after, .spl-left-right-screen:active:after {
  left: 0;
  width: 100%; }

/* Bottom To Top Right Reveal */
.spl-lines-thin {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-thin:before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 3%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-thin:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 3%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-thin:hover:before, .spl-lines-thin:focus:before, .spl-lines-thin:active:before {
  height: 100%; }

.spl-lines-thin:hover:after, .spl-lines-thin:focus:after, .spl-lines-thin:active:after {
  height: 100%; }

/* Left Right Inner Reveal */
.spl-lines-wide {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-lines-wide:before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 3%;
  height: 0;
  width: 47%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-wide:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 3%;
  height: 0;
  width: 47%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-wide:hover:before, .spl-lines-wide:focus:before, .spl-lines-wide:active:before {
  height: 100%; }

.spl-lines-wide:hover:after, .spl-lines-wide:focus:after, .spl-lines-wide:active:after {
  height: 100%; }

/* Full width lines */
.spl-lines-full {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-full:before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 50.5%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-full:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 50.5%;
  background-color: #62c0c0;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-lines-full:hover {
  color: #fff; }

.spl-lines-full:hover:before, .spl-lines-full:focus:before, .spl-lines-full:active:before {
  height: 100%; }

.spl-lines-full:hover:after, .spl-lines-full:focus:after, .spl-lines-full:active:after {
  height: 100%; }

/* Swing Door */
.spl-swing-door {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-swing-door:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #58ADAE;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform-style: preserve3d;
  transform-style: preserve3d; }

.spl-swing-door:hover:before, .spl-swing-door:focus:before, .spl-swing-door:active:before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  box-shadow: 0px 1px 5px #000;
  border-top: 1px solid #222; }

/* Bottom Left Grow */
.spl-grow-bl {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-grow-bl:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #582c71;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-grow-bl:hover:before, .spl-grow-bl:focus:before, .spl-grow-bl:active:before {
  width: 100%;
  height: 100%; }

/* Bottom Right Grow */
.spl-grow-br {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-grow-br:before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: #582c71;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-grow-br:hover:before, .spl-grow-br:focus:before, .spl-grow-br:active:before {
  width: 100%;
  height: 100%; }

/* Top Left Grow */
.spl-grow-tl {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-grow-tl:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #582c71;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-grow-tl:hover:before, .spl-grow-tl:focus:before, .spl-grow-tl:active:before {
  width: 100%;
  height: 100%; }

/* Top Right Grow */
.spl-grow-tr {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-grow-tr:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: #582c71;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-grow-tr:hover:before, .spl-grow-tr:focus:before, .spl-grow-tr:active:before {
  width: 100%;
  height: 100%; }

/* Shadow Push */
.spl-fill-shadow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-fill-shadow:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: -1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-fill-shadow:hover:before, .spl-fill-shadow:focus:before, .spl-fill-shadow:active:before {
  box-shadow: 0px 0px 15px #ff3434;
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Fade Center */
.spl-focus-horz {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-focus-horz:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: -1;
  transition-property: all;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-focus-horz:hover:before, .spl-focus-horz:focus:before, .spl-focus-horz:active:before {
  background-color: #a050ce;
  border-radius: 0;
  width: 70%; }

/* Fade Shine */
.spl-focus-vert {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-focus-vert:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: -1;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.spl-focus-vert:hover:before, .spl-focus-vert:focus:before, .spl-focus-vert:active:before {
  background-color: #a050ce;
  border-radius: 0;
  height: 70%; }

/* Spin */
.spl-morph {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-morph:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #da1f1f;
  z-index: -1;
  border-radius: 30px; }

.spl-morph:hover:before {
  -webkit-animation: morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
  -moz-animation: morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
  -ms-animation: morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
  -o-animation: morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
  animation: morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes morph {
  20% {
    border-radius: 40px 30px 40px 30px; }
  40% {
    border-radius: 50px 40px 50px 40px; }
  60% {
    border-radius: 60px 50px 60px 50px; }
  80% {
    border-radius: 50px 40px 50px 40px; }
  100% {
    border-radius: 40px 30px 40px 30px; } }
@-moz-keyframes morph {
  20% {
    border-radius: 40px 30px 40px 30px; }
  40% {
    border-radius: 50px 40px 50px 40px; }
  60% {
    border-radius: 60px 50px 60px 50px; }
  80% {
    border-radius: 50px 40px 50px 40px; }
  100% {
    border-radius: 40px 30px 40px 30px; } }
@-o-keyframes morph {
  20% {
    border-radius: 40px 30px 40px 30px; }
  40% {
    border-radius: 50px 40px 50px 40px; }
  60% {
    border-radius: 60px 50px 60px 50px; }
  80% {
    border-radius: 50px 40px 50px 40px; }
  100% {
    border-radius: 40px 30px 40px 30px; } }
@keyframes morph {
  20% {
    border-radius: 40px 30px 40px 30px; }
  40% {
    border-radius: 50px 40px 50px 40px; }
  60% {
    border-radius: 60px 50px 60px 50px; }
  80% {
    border-radius: 50px 40px 50px 40px; }
  100% {
    border-radius: 40px 30px 40px 30px; } }
/* Hinge */
.spl-hinge {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-hinge:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #273392;
  z-index: -1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  -moz-transition-duration: 0.2;
  -ms-transition-duration: 0.2;
  -o-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

@-webkit-keyframes fall {
  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-moz-keyframes fall {
  15% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -moz-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -moz-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -moz-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-o-keyframes fall {
  15% {
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -o-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -o-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@keyframes fall {
  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
.spl-hinge:hover:before {
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation: fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -moz-animation: fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -ms-animation: fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -o-animation: fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  animation: fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1); }

/* Wave */
.spl-wave {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-wave:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #273392;
  z-index: -1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  -moz-transition-duration: 0.2;
  -ms-transition-duration: 0.2;
  -o-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes wave {
  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-moz-keyframes wave {
  15% {
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -moz-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -moz-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -moz-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-o-keyframes wave {
  15% {
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -o-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -o-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@keyframes wave {
  15% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  40% {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  55% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  70% {
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
.spl-wave:hover:before {
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation: wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -moz-animation: wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -ms-animation: wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  -o-animation: wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1);
  animation: wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1); }

/* Wobble */
.spl-wobble {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0; }

.spl-wobble:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #273392;
  z-index: -1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  -moz-transition-duration: 0.2;
  -ms-transition-duration: 0.2;
  -o-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

@-webkit-keyframes wobble {
  15% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  55% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-moz-keyframes wobble {
  15% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  55% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@-o-keyframes wobble {
  15% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  55% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
@keyframes wobble {
  15% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  40% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  55% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 6px #000; } }
.spl-wobble:hover:before {
  animation: wobble 0.5s;
  animation-delay: 0;
  animation-timing-function: cubic-bezier(0.2, 0.2, 0.2, 0.8);
  animation-fill-mode: none;
  animation-iteration-count: 1;
  -webkit-animation: wobble 0.5s;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -webkit-animation-fill-mode: none;
  -webkit-animation-iteration-count: 1;
  -moz-animation: wobble 0.5s;
  -moz-animation-delay: 0;
  -moz-animation-timing-function: cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -moz-animation-fill-mode: none;
  -moz-animation-iteration-count: 1;
  -ms-animation: wobble 0.5s;
  -ms-animation-delay: 0;
  -ms-animation-timing-function: cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -ms-animation-fill-mode: none;
  -ms-animation-iteration-count: 1;
  -o-animation: wobble 0.5s;
  -o-animation-delay: 0;
  -o-animation-timing-function: cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -o-animation-fill-mode: none;
  -o-animation-iteration-count: 1;
  /*
  -webkit-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -moz-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -ms-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -o-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
  animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
  -webkit-animation-iteration-count:1;
  -moz-animation-iteration-count:1;
  -ms-animation-iteration-count:1;
  -o-animation-iteration-count:1;
  animation-iteration-count:1;
  */ }

/*# sourceMappingURL=splendid.css.map */
