/* Splendid.css
** By: Daniel Dafoe
---------------------------------------- */

/* Variables
---------------------------------------- */
$btn-red:#FB2424;
$btn-hover-color:#fff;
$btn-turquoise:#386E6E;
$btn-hover-color-2:#58ADAE;
$btn-royal:#8040A5;
$btn-orange:#E09129;
$btn-sun:#FFED09;
$btn-grass:#6BA811;
$btn-darkblue:#2D3BA8;
$btn-rose:#9B33A8;
$btn-gray:#888;
$effect-color:#000;


/* Functions
---------------------------------------- */
@function inherit-bg($background) {

}


/* Mixins
---------------------------------------- */
@mixin setup() {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	border-radius:0;
}
@mixin transition() {
	-webkit-transition:all 200ms ease-out;
	-moz-transition:all 200ms ease-out;
	-o-transition:all 200ms ease-out;
	transition:all 200ms ease-out;
}
@mixin animation($name, $duration, $delay, $timing, $fill, $life) {
	animation:$name $duration;
	animation-delay: $delay;
	animation-timing-function: $timing;
	animation-fill-mode: $fill;
	animation-iteration-count: $life;
	-webkit-animation:$name $duration;
	-webkit-animation-delay: $delay;
	-webkit-animation-timing-function: $timing;
	-webkit-animation-fill-mode: $fill;
	-webkit-animation-iteration-count: $life;
	-moz-animation:$name $duration;
	-moz-animation-delay: $delay;
	-moz-animation-timing-function: $timing;
	-moz-animation-fill-mode: $fill;
	-moz-animation-iteration-count: $life;
	-ms-animation:$name $duration;
	-ms-animation-delay: $delay;
	-ms-animation-timing-function: $timing;
	-ms-animation-fill-mode: $fill;
	-ms-animation-iteration-count: $life;
	-o-animation:$name $duration;
	-o-animation-delay: $delay;
	-o-animation-timing-function: $timing;
	-o-animation-fill-mode: $fill;
	-o-animation-iteration-count: $life;
}


/* Buttons
---------------------------------------- */
button {
	border:0;
	cursor:pointer;
	font-weight:200;
}
.spl-btn {
	position:relative;
	display:inline-block;
	border-radius:0;
	padding:.5em 3em;
	margin:.25em 0;
	font-size:1em;
	text-decoration:none;
	color:#fff;
}
.spl-btn-red {
	background-color:$btn-red;
}
.spl-btn-turquoise {
	background-color:$btn-turquoise;
}
.spl-btn-royal {
	background-color:$btn-royal;
}
.spl-btn-orange {
	background-color:$btn-orange;
}
.spl-btn-sun {
	background-color:$btn-sun;
}
.spl-btn-grass {
	background-color:$btn-grass;
}
.spl-btn-darkblue {
	background-color:$btn-darkblue;
}
.spl-btn-rose {
	background-color:$btn-rose;
}
.spl-btn-default {
	background-color:$btn-gray;
}
.splendid {
	background-color:$btn-royal/1.45;
}


/* Effects
---------------------------------------- */

/* Fill Horizontal */
.spl-fill-horz {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.spl-fill-horz:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:$btn-red/1.45;
  border-radius:0;
  border:1px solid $btn-red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.spl-fill-horz:hover, .spl-fill-horz:focus, .spl-fill-horz:active {
  border-radius:0;
}
.spl-fill-horz:hover:before, .spl-fill-horz:focus:before, .spl-fill-horz:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



/* Fill Vertical */
.spl-fill-vert {
  @extend .spl-fill-horz;
}
.spl-fill-vert:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:$btn-red/1.45;
  border-radius:0;
  border:1px solid $btn-red;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform:rotateX(90deg);
  transform:rotateX(90deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.spl-fill-vert:hover, .spl-fill-vert:focus, .spl-fill-vert:active {
  border-radius:0;
}
.spl-fill-vert:hover:before, .spl-fill-vert:focus:before, .spl-fill-vert:active:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}


/* Fill Vertical Short */
.spl-fill-short {
  @extend .spl-fill-horz;
}
.spl-fill-short:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:$btn-red/1.45;
  border-radius:0;
  border:1px solid $btn-red;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.spl-fill-short:hover, .spl-fill-short:focus, .spl-fill-short:active {
  border-radius:0;
}
.spl-fill-short:hover:before, .spl-fill-short:focus:before, .spl-fill-short:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(.94);
  transform: scaleX(.94);
}


/* Reverse Fill Horz */
.spl-fill-rev {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.spl-fill-rev:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:$btn-red/1.35;
  border-radius:0;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.spl-fill-rev:hover, .spl-fill-rev:focus, .spl-fill-rev:active {
  border-radius:0;
}
.spl-fill-rev:hover:before, .spl-fill-rev:focus:before, .spl-fill-rev:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}



/* Underline Bottom Left */
.spl-lines-bl {
	@include setup();
}
.spl-lines-bl:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	height:10%;
	width:0;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-bl:after {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	height:0;
	width:2%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-bl:hover:before, .spl-lines-bl:focus:before, .spl-lines-bl:active:before {
	width:100%;
	right:0;
}
.spl-lines-bl:hover:after, .spl-lines-bl:focus:after, .spl-lines-bl:active:after {
	top:0;
	height:100%;
}




/* Underline Bottom Right */
.spl-lines-br {
	@include setup();
}
.spl-lines-br:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	height:10%;
	width:0;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-br:after {
	content:" ";
	position:absolute;
	bottom:0;
	right:0;
	height:0;
	width:2%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-br:hover:before, .spl-lines-br:focus:before, .spl-lines-br:active:before {
	width:100%;
	right:0;
}
.spl-lines-br:hover:after, .spl-lines-br:focus:after, .spl-lines-br:active:after {
	top:0;
	height:100%;
}



/* Underline From Top Right */
.spl-lines-tr {
	@include setup();
}
.spl-lines-tr:before {
	content:" ";
	position:absolute;
	top:0;
	right:0;
	height:10%;
	width:0;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-tr:after {
	content:" ";
	position:absolute;
	top:0;
	right:0;
	height:0;
	width:2%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-tr:hover:before, .spl-lines-tr:focus:before, .spl-lines-tr:active:before {
	width:100%;
	left:0;
}
.spl-lines-tr:hover:after, .spl-lines-tr:focus:after, .spl-lines-tr:active:after {
	bottom:0;
	height:100%;
}



/* Underline From Top Left */
.spl-lines-tl {
	@include setup();
}
.spl-lines-tl:before {
	content:" ";
	position:absolute;
	top:0;
	right:0;
	height:10%;
	width:0;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-tl:after {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:2%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-tl:hover:before, .spl-lines-tl:focus:before, .spl-lines-tl:active:before {
	width:100%;
	left:0;
}
.spl-lines-tl:hover:after, .spl-lines-tl:focus:after, .spl-lines-tl:active:after {
	bottom:0;
	height:100%;
}







/* Left Right Screen */
.spl-left-right-screen {
	@include setup();
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-left-right-screen:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	height:100%;
	width:0;
	background-color:$btn-grass/1.25;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.1;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-left-right-screen:after {
	content:" ";
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:0;
	background-color:$btn-grass/1.5;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	color:#fff;
}
.spl-left-right-screen:hover:before, .spl-left-right-screen:focus:before, .spl-left-right-screen:active:before {
	right:0;
	width:100%;
}
.spl-left-right-screen:hover:after, .spl-left-right-screen:focus:after, .spl-left-right-screen:active:after {
	left:0;
	width:100%;
}


/* Bottom To Top Right Reveal */
.spl-lines-thin {
	@include setup();
}
.spl-lines-thin:before {
	content:" ";
	position:absolute;
	bottom:0;
	right:0;
	height:0;
	width:3%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-thin:after {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:3%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-thin:hover:before, .spl-lines-thin:focus:before, .spl-lines-thin:active:before {
	height:100%;
}
.spl-lines-thin:hover:after, .spl-lines-thin:focus:after, .spl-lines-thin:active:after {
	height:100%;
}



/* Left Right Inner Reveal */
.spl-lines-wide {
	@include setup();
}
.spl-lines-wide:before {
	content:" ";
	position:absolute;
	bottom:0;
	right:3%;
	height:0;
	width:47%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-wide:after {
	content:" ";
	position:absolute;
	top:0;
	left:3%;
	height:0;
	width:47%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-wide:hover:before, .spl-lines-wide:focus:before, .spl-lines-wide:active:before {
	height:100%;
}
.spl-lines-wide:hover:after, .spl-lines-wide:focus:after, .spl-lines-wide:active:after {
	height:100%;
}


/* Full width lines */
.spl-lines-full {
	@include setup();
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-full:before {
	content:" ";
	position:absolute;
	bottom:0;
	right:0;
	height:0;
	width:50.5%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-full:after {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	height:0;
	width:50.5%;
	background-color:$btn-turquoise*1.75;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-lines-full:hover {
	color:#fff;
}
.spl-lines-full:hover:before, .spl-lines-full:focus:before, .spl-lines-full:active:before {
	height:100%;
}
.spl-lines-full:hover:after, .spl-lines-full:focus:after, .spl-lines-full:active:after {
	height:100%;
}



/* Swing Door */
.spl-swing-door {
	@include setup();
}
.spl-swing-door:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:$btn-hover-color-2;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;

	-webkit-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform-style:preserve3d;
	transform-style:preserve3d;
}
.spl-swing-door:hover:before, .spl-swing-door:focus:before, .spl-swing-door:active:before {
	-webkit-transform:rotateX(180deg);
	transform:rotateX(180deg);
	box-shadow:0px 1px 5px #000;
	border-top:1px solid #222;
}



/* Bottom Left Grow */
.spl-grow-bl {
	@include setup();
}
.spl-grow-bl:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:0;
	height:0;
	background-color:$btn-royal/1.45;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-grow-bl:hover:before, .spl-grow-bl:focus:before, .spl-grow-bl:active:before {
	width:100%;
	height:100%;
}




/* Bottom Right Grow */
.spl-grow-br {
	@include setup();
}
.spl-grow-br:before {
	content:" ";
	position:absolute;
	bottom:0;
	right:0;
	width:0;
	height:0;
	background-color:$btn-royal/1.45;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-grow-br:hover:before, .spl-grow-br:focus:before, .spl-grow-br:active:before {
	width:100%;
	height:100%;
}




/* Top Left Grow */
.spl-grow-tl {
	@include setup();
}
.spl-grow-tl:before {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	background-color:$btn-royal/1.45;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-grow-tl:hover:before, .spl-grow-tl:focus:before, .spl-grow-tl:active:before {
	width:100%;
	height:100%;
}



/* Top Right Grow */
.spl-grow-tr {
	@include setup();
}
.spl-grow-tr:before {
	content:" ";
	position:absolute;
	top:0;
	right:0;
	width:0;
	height:0;
	background-color:$btn-royal/1.45;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-grow-tr:hover:before, .spl-grow-tr:focus:before, .spl-grow-tr:active:before {
	width:100%;
	height:100%;
}


/* Shadow Push */
.spl-fill-shadow {
	@include setup();
}
.spl-fill-shadow:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:0;
	background-color:transparent;
	z-index:-1;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-fill-shadow:hover:before, .spl-fill-shadow:focus:before, .spl-fill-shadow:active:before {
	box-shadow:0px 0px 15px $btn-red*1.45;
	-webkit-transform:scaleY(1);
	transform:scaleY(1);
}


/* Fade Center */
.spl-focus-horz {
	@include setup();
}
.spl-focus-horz:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:0;
	width:100%;
	height:100%;
	margin:0 auto;
	background-color:transparent;
	z-index:-1;
	transition-property: all;
	-webkit-transition-property:all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-focus-horz:hover:before, .spl-focus-horz:focus:before, .spl-focus-horz:active:before {
	background-color:$btn-royal*1.25;
	border-radius:0;
	width:70%;
	//box-shadow:0px 0px 5px #000;
}



/* Fade Shine */
.spl-focus-vert {
	@include setup();
}
.spl-focus-vert:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	top:50%;
	width:100%;
	height:100%;
	margin:0 auto;
	background-color:transparent;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	z-index:-1;
	-webkit-transition-property:all;
	transition-property: all;
	-webkit-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.spl-focus-vert:hover:before, .spl-focus-vert:focus:before, .spl-focus-vert:active:before {
	background-color:$btn-royal*1.25;
	border-radius:0;
	height:70%;
	//box-shadow:0px 0px 5px #000;
}



/* Spin */
.spl-morph {
	@include setup();
}
.spl-morph:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:($btn-red/1.15);
	z-index:-1;
	border-radius:30px;
}
.spl-morph:hover:before {
	-webkit-animation:morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
	-moz-animation:morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
	-ms-animation:morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
	-o-animation:morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
	animation:morph 2s cubic-bezier(0.2, 0.2, 0.2, 0.2);
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;

}
@-webkit-keyframes morph {
	20% {
		border-radius:40px 30px 40px 30px;
	}
	40% {
		border-radius:50px 40px 50px 40px;
	}
	60% {
		border-radius:60px 50px 60px 50px;
	}
	80% {
		border-radius:50px 40px 50px 40px;
	}
	100% {
		border-radius:40px 30px 40px 30px;
	}
}
@-moz-keyframes morph {
	20% {
		border-radius:40px 30px 40px 30px;
	}
	40% {
		border-radius:50px 40px 50px 40px;
	}
	60% {
		border-radius:60px 50px 60px 50px;
	}
	80% {
		border-radius:50px 40px 50px 40px;
	}
	100% {
		border-radius:40px 30px 40px 30px;
	}
}
@-o-keyframes morph {
	20% {
		border-radius:40px 30px 40px 30px;
	}
	40% {
		border-radius:50px 40px 50px 40px;
	}
	60% {
		border-radius:60px 50px 60px 50px;
	}
	80% {
		border-radius:50px 40px 50px 40px;
	}
	100% {
		border-radius:40px 30px 40px 30px;
	}
}
@keyframes morph {
	20% {
		border-radius:40px 30px 40px 30px;
	}
	40% {
		border-radius:50px 40px 50px 40px;
	}
	60% {
		border-radius:60px 50px 60px 50px;
	}
	80% {
		border-radius:50px 40px 50px 40px;
	}
	100% {
		border-radius:40px 30px 40px 30px;
	}
}








/* Hinge */
.spl-hinge {
	@include setup();
}
.spl-hinge:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:($btn-darkblue/1.15);
	z-index:-1;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	-ms-transition-property:all;
	-o-transition-property:all;
	transition-property: all;
	-webkit-transition-duration: 0.2;
	-moz-transition-duration: 0.2;
	-ms-transition-duration: 0.2;
	-o-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	transition-delay: 0.8s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;

	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;

	
}
@-webkit-keyframes fall {
	15% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-webkit-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-webkit-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-webkit-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-moz-keyframes fall {
	15% {
		-moz-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-moz-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-moz-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-moz-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-o-keyframes fall {
	15% {
		-o-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-o-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-o-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-o-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@keyframes fall {
	15% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-webkit-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-webkit-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-webkit-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
.spl-hinge:hover:before {
	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	-ms-animation-iteration-count:1;
	-o-animation-iteration-count:1;
	animation-iteration-count:1;

	-webkit-animation:fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-moz-animation:fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-ms-animation:fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-o-animation:fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	animation:fall 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
}


/* Wave */
.spl-wave {
	@include setup();
}
.spl-wave:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:($btn-darkblue/1.15);
	z-index:-1;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	-ms-transition-property:all;
	-o-transition-property:all;
	transition-property: all;
	-webkit-transition-duration: 0.2;
	-moz-transition-duration: 0.2;
	-ms-transition-duration: 0.2;
	-o-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	transition-delay: 0.8s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;

	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;

	
}
@-webkit-keyframes wave {
	15% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-webkit-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-webkit-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-webkit-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-moz-keyframes wave {
	15% {
		-moz-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-moz-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-moz-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-moz-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-o-keyframes wave {
	15% {
		-o-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-o-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-o-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-o-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@keyframes wave {
	15% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	40% {
		-webkit-transform:rotate(120deg);
		transform:rotate(120deg);
	}
	55% {
		-webkit-transform:rotate(60deg);
		transform:rotate(60deg);
	}
	70% {
		-webkit-transform:rotate(110deg);
		transform:rotate(110deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
.spl-wave:hover:before {
	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	-ms-animation-iteration-count:1;
	-o-animation-iteration-count:1;
	animation-iteration-count:1;

	-webkit-animation:wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-moz-animation:wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-ms-animation:wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	-o-animation:wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
	animation:wave 0.9s cubic-bezier(0.4, 0.2, 0.3, 1.0);
}





/* Wobble */
.spl-wobble {
	@include setup();
}
.spl-wobble:before {
	content:" ";
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:($btn-darkblue/1.15);
	z-index:-1;
	-webkit-transition-property:all;
	-moz-transition-property:all;
	-ms-transition-property:all;
	-o-transition-property:all;
	transition-property: all;
	-webkit-transition-duration: 0.2;
	-moz-transition-duration: 0.2;
	-ms-transition-duration: 0.2;
	-o-transition-duration: 0.2;
	transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;

	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;

	
}
@-webkit-keyframes wobble {
	15% {
		-webkit-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	40% {
		-webkit-transform:rotate(20deg);
		transform:rotate(20deg);
	}
	55% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	70% {
		-webkit-transform:rotate(10deg);
		transform:rotate(10deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-moz-keyframes wobble {
	15% {
		-webkit-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	40% {
		-webkit-transform:rotate(20deg);
		transform:rotate(20deg);
	}
	55% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	70% {
		-webkit-transform:rotate(10deg);
		transform:rotate(10deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@-o-keyframes wobble {
	15% {
		-webkit-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	40% {
		-webkit-transform:rotate(20deg);
		transform:rotate(20deg);
	}
	55% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	70% {
		-webkit-transform:rotate(10deg);
		transform:rotate(10deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
@keyframes wobble {
	15% {
		-webkit-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	40% {
		-webkit-transform:rotate(20deg);
		transform:rotate(20deg);
	}
	55% {
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	70% {
		-webkit-transform:rotate(10deg);
		transform:rotate(10deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		box-shadow:0 1px 6px #000;
	}
}
.spl-wobble:hover:before {
	@include animation(wobble, 0.5s, 0, cubic-bezier(0.2, 0.2, 0.2, 0.8), none, 1);
	/*
	-webkit-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
	-moz-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
	-ms-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
	-o-animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
	animation:wobble 0.5s cubic-bezier(0.2, 0.2, 0.2, 0.8);
	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	-ms-animation-iteration-count:1;
	-o-animation-iteration-count:1;
	animation-iteration-count:1;
	*/
}
